<h1>Welcome to the Team!!! </h1>

<ul>
  <p>
    Team Name: <%= @team.name %>
    <%= link_to "Change Team Name", '#', class: "btn btn-medium btn-primary" %>
    <br>
    Team Description: <%= @team.desc %> 
    
    <br>
    Team Members: 
    <%= User.find_by(team_id: @team.id) do |member| %>
    <%= prints member.name %>
    <% end %>
  </p>
  
  
  
  
  
  
  
</ul>
