<h1>Welcome to the Team!!! </h1>

<ul>
  <p>
    <h4> Team Name: </h4> <%= @team.name %>

    <br></br>

    <h4> Team Description: </h4> <%= @team.desc %>

    <br><br>

    <h4> Team Members: </h4>

    <% get_team_members.each do |m| %>
      <%= m.name %><br/>
    <% end %>

    <br><br>
    <%= link_to "Update Team Profile", '/edit_team/' + @team.id.to_s , class: "btn btn-medium btn-primary" %>
    </br>
    </br>
    <% if logged_in? %>
      <%= button_to 'Join Team Now!', action: "add_user", :method => :post, class: "btn-primary" %>
    <% end %>
  </p>
</ul>
