<% cache('profile_page') do %>
  <div class="profile-page-outline">
    <h1>User's Profile</h1>

    <ul>
      <p>
        Name: <%= @user.name %>
        <br>
        Email: <%= @user.email %>
        <br>
        Bio: <%= @user.bio %>
        <br>
        Class: 
        <%= current_course.name %>
        <br>
        Team Name: 
        <%= @team.name if !(@team.nil?) %>
        <%= "N/A" if @team.nil? %>
        <br><br> 
        
        
        
        <%= link_to "Update User Profile", '/edit_profile/' + @user.id.to_s, class: "btn btn-medium btn-primary" %>
        <br>
        <%= button_to "Leave Team", '/profile', class: "btn btn-medium btn-primary" %>
      </p>
    </ul>
  <div>
<% end %>