<% provide(:title, "Create Class") %>

<h1>Create a Class</h1>

<div class = "row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @class, url: 'classes', local: true do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "Create Class", class: "btn btn-primary" %>
    <% end %>

    <%= @class_url %>
  </div>
</div>


