<% provide(:title, "Join") %>

<div class="join-team-header">
  <h1>Join Team Screen</h1>
  <p>These are the all the teams that are available for the course!</p>

  <% if !logged_in? %>
    <li class="dropdown join-team-dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Select Course <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <% Course.all.each do |course| %>
          <li><%= link_to course.name , "/join/" + course.id.to_s %></li>
        <% end %>
      </ul>
    </li>
  <% end %>

  <% if @course != nil %>
    Teams for course <%= @course.name %>
  <% end %>
</div>

<div class="">
  <ul>
    <% if !logged_in? %>
      <% @teams_and_courses.each do |team| %>
        <% if @id == nil || team.course == @id.to_i %>
          <div class="join-team-teams">
            <h4>Class: <%= team.course_name %></h4>
            <p>
              <h4>Team Name: <%= link_to team.name, team %></h4>
              <p>Description: <%= team.desc %></p>
            </p>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if logged_in? %>
        <% Team.where(course: current_user.course).each do |team| %>
          <div class="join-team-teams">
              <p>
                <h4 style="text-indent: 15px">Team Name: <%= link_to team.name, team %></h4>
                <h5 style="display: inline-block; text-indent: 40px;">Description</h5>: <%= team.desc %>
              </p>
          </div>
        <% end %>
    <% end %>
  </ul>
</div>
