<% provide(:title, "Join") %>

<div class="join-team-header">
  <h1>Join Team Screen</h1>
  <p>These are the all the teams that are available for the course!</p>

  <% if !logged_in? %>
    <li class="dropdown join-team-dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Select Course <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <% Course.all.each do |course| %>
          <li><%= link_to course.name , "/join/" + course.id.to_s %></li>
        <% end %>
      </ul>
    </li>
  <% end %>

  <% if @course != nil %>
    Teams for course <%= @course.name %>
  <% end %>
</div>

<div class="join-team-teams">
  <ul>
    <% if !logged_in? %>
      <% Team.all.each do |team| %>
        <br>
        <% if @id == nil || team.course == @id.to_i %>
          <h4>Class: <%= get_team_course_name(team) %></h4>
          <p>
            Team Name: <%= link_to team.name, team %>
            <br>
            Description: <%= team.desc %>
          </p>
        <% end %>
      <% end %>
    <% end %>

    <% if logged_in? %>
        <% Team.all.each do |team| %>
          <br>
          <% if current_user.course == team.course %>
            <p>
              Team Name: <%= link_to team.name, team %>
              <br>
              Description: <%= team.desc %>
            </p>
          <% end %>
        <% end %>
    <% end %>
  </ul>
</div>