<% provide(:title, "Profile") %>

<h1>Create Profile</h1>
<p>This is where you would add your profile</p>

<ul>
<%= form_with(url: "/profile") do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Submit Profile") %>
<% end %>
</ul>


<ul>
  <p>
    Name: <%= @user.name %>
    <br><br>
    
    Email: <%= @user.email %> 
    <br><br>
    
    <!--Team Members: -->
    <!--<%= User.find_by(team_id: @team.id) do |member| %>-->
    <!--<%= prints member.name %>-->
    <!--<% end %>-->
    <!--<br><br>-->
    
    <!--<%= link_to "Update Team Profile", '/edit_team/' + @team.id.to_s , class: "btn btn-medium btn-primary" %>-->
  </p>
</ul>
