<% provide(:title, "Create Class") %>

<h1>Create a Class</h1>

<div class = "row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @class, url: 'courses', local: true, :method=> :POST, :html=>{:id=>"create_form"} do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "Create Class", class: "btn btn-primary" %>
    <% end %>

    <%= @class_url %>
  </div>
</div>
<div>
  <% @all_classes.each do |x| %>
    <br>
    <h4>Class: <%= x.name %></h4>
    <p> 
      Link: <%= request.base_url + '/' + x.id.to_s %>
      <%= button_to "delete", course_path(:id => x.id), :method => :delete %>
    </p>
  <% end %>
</div>


