<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
					<li><%= link_to "Join", join_path %></li>
					<li><%= link_to "Create", create_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Profile", '/profile' %></li>
				<li><%= link_to "Teams", '/join' %></li>
				<li><%= link_to "Sign up", '/signup' %></li>
      </ul>
    </nav>
  </div>
</header>
